.error-messages {
  color: #af0606;
  margin-top: 4px;
  margin-left: 9px;
  text-align: left;
  font-size: 12px;
}

.result-messages {
  color: green;
  margin-top: 4px;
  margin-left: 9px;
  text-align: left;
  font-size: 12px;
}
