<ngx-smart-modal #adblockerDetectModal identifier="adblockerDetectModal">
  <h1>Ad Blocker Detected</h1>
  <p>Xyla’s tools might not work as expected when an ad blocker is enabled in a web browser. Turn off the ad blocker or add this web page’s URL as an exception so you can use Xyla without any problems. After you turn off the ad blocker, you’ll need to refresh your screen.</p>
  <button
    id="okButton"
    class="ui primary button"
    (click)="modal.close()">
    OK
  </button>
</ngx-smart-modal>
