<div class="wrapper">
  <div class="ui secondary pointing menu">
    <a class="item active"><i class="ui gavel icon"></i> Rules</a>
    <div *ngIf="loadingNewEntities" class="loading-new-entities">
      <div class="ui active inline mini loader"></div>
      Loading latest Campaigns & Ad Groups from Channels
    </div>
  </div>
  <ag-grid-angular
    style="position: absolute; top: 30px; bottom: 0; left: 0; right: 0; margin: 40px; margin-bottom: 0"
    class="ag-theme-balham grid"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [sideBar]="sideBar"
    [rowData]="undefined"
    >
  </ag-grid-angular>
</div>