<div class="form-default">
  <img class="form-brand-logo" src="assets/xyla_full_logo.png" />
  <form>
    <h1 class="form-title">Send a password-reset link</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input [(ngModel)]="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus name="email">
    <app-message-presenter [errors]="submissionErrors" [results]="submissionResults"></app-message-presenter>
    <app-submit-button (onClick)="onSendResetLinkClicked()" [label]="submitLabel" [isEnabled]="sendResetLinkIsEnabled" [isWaiting]="waitingForResponse"></app-submit-button>
  </form>
  <br>
  <div class="form-info">
    <a routerLink="/signin" [queryParams]="{email: email}">← Sign in</a>
  </div>
</div>
