@import 'style-guide';

@import "../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
// @import "../../node_modules/ag-grid-community/src/styles/ag-theme-balham-dark/sass/_ag-theme-balham-dark-mixin.scss";
@import "../../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/_ag-theme-balham-mixin.scss";

.grid.io-grid  {
  &, .ag-root-wrapper {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

.grid {
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.05);
  &, .ag-root-wrapper {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
  }

  @include ag-theme-balham((
      borders: false,
      foreground-color: black,
  ));

  .ag-center-cols-viewport {
    background-color: $main-background-color;
    // overflow-x: hidden;
  }
  * {
      // border: none !important;
  }
  .condensed {
    white-space: normal;
    line-height: 1 !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .multiline {
    white-space: normal;
    line-height: 1.5 !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .date {
    font-size: 10px;
    color: #bbb !important;
  }
  .ag-cell {
    display: flex;
    align-items: flex-start;
    color: #999;
  }
  .ag-row:hover {
    background: none;
  }
  .ag-header {
    $border-radius: 6px;
    background: $color-grid-header-background !important;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }



  .ag-body-horizontal-scroll-viewport {
    // overflow: hidden !important;
  }

  // These rules are for accentuating the area between campaign rows when a campaign is expanded
  //
  // .ag-row.ag-row-group.ag-row-level-2.ag-row-group-expanded {
  //   box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.01);
  //   z-index: 5;
  //   &:hover, &:focus {
  //     background: white;
  //   }
  //   &+.ag-row {
  //     box-shadow: 0px -6px 5px 0px rgba(0, 0, 0, 0.01);
  //   }
  // }
}