.ui.basic.button.primary-action {
  background-color: var(--xylafaintgrey) !important;
}

.ui.basic.button.dropdown-button-margin {
  margin-bottom: 11px !important;
}

.action-button {
  width: calc(100% - 22px) !important;
  margin: 0 11px !important;
}
