@font-face {
  font-family: ProximaNova;
  src: url("src/assets/fonts/proxima_nova/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url("src/assets/fonts/proxima_nova/Proxima Nova Semibold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: ProximaNova;
  src: url("src/assets/fonts/proxima_nova/Proxima Nova Alt Bold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url("src/assets/fonts/proxima_nova/Proxima Nova Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: ProximaNova;
  src: url("src/assets/fonts/proxima_nova/Proxima Nova Extrabold.otf") format("opentype");
  font-weight: 900;
}
