<div class="form-default">
  <img class="form-brand-logo" src="assets/xyla_full_logo.png" />
  <h1 class="form-title">Reset your password</h1>
  <label for="inputPassword" class="sr-only">New password</label>
  <input [(ngModel)]="parameters.password" type="password" id="password" class="form-control form-control-top new-password" placeholder="New password" autofocus>
  <label for="inputConfirmedPassword" class="sr-only">Password</label>
  <input [(ngModel)]="parameters.confirmedPassword" type="password" id="inputPassword" class="form-control form-control-bottom confirmed-password" placeholder="Confirm password">
  <app-message-presenter [errors]="submissionErrors"></app-message-presenter>
  <app-submit-button
    (onClick)="onConfirmClicked()"
    [label]="'Confirm'"
    [isEnabled]="submissionIsEnabled"
    [isWaiting]="waitingForResponse">
  </app-submit-button>
  <br>
  <div>
    <a routerLink="/signin">← Cancel</a>
  </div>
</div>
